<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
        <dict>
            <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>CFBundleAlternateIcons</key>
            <dict>
                <key>news</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>news</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>finder</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>finder</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>safari</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>safari</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>terminal</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>terminal</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>stock</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>stock</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                
                <key>calc</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>calc</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>music</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>music</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>numbers</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>numbers</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>cal</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>cal</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>appstore</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>appstore</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>notes</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>notes</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict><key>memo</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>memo</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict><key>smarthome</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>smarthome</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>locate</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>locate</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>contacts</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>contacts</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>photobooth</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>photobooth</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>facetime</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>facetime</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>photos</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>photos</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>messages</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>messages</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict><key>maps</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>maps</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict><key>pages</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>pages</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                
                
                
                <key>appletv</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>appletv</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
            </dict>
        </dict>
    <key>MinimumOSVersion</key>
    <string>9.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>alternate_icons_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
    
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
